body {
    background-color: #F1C964;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    width: 150px;
    height: auto;
}
.top-carousel {
    display: flex;
    flex: auto;
    justify-content: center;
    margin: 0;
}

.main-body {
    display: flex;
    flex: auto;
    justify-content: center;
}

.left-carousel {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.center {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex: auto;
    width: 450px;
}

.center > img {
    min-width: 200px;
    flex: auto;
}

.right-carousel {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.bottom-carousel {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
}